body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: White;
}

.navbar {
    background-color: #222;
    color: #fff;
    padding: 0px 0px 0px 0px;
    text-align: center;
    vertical-align: bottom;
    box-shadow: black 4px 4px 8px;  
}

.content {
    padding: 20px;
}

h1, h2 {
    color: lightgray;
    text-align: center;
    text-shadow: #111 4px 4px 4px;
    width: 100%;
}

h1 {margin-top: 10px;
margin-bottom: 10px;}

.video_div {
    text-align: center;
    width: 100%;
} 

video {
    height: 320px; 
    width: 100%;
    /* background-color: #2a2a2a; */
    /* box-shadow: #111111 0px 20px 20px 0; */
}
.no-wrap {
    white-space: nowrap;
}

hr {box-shadow: #111 4px 8px 8px;}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #777;
    color: lightgrey;
    font-weight: bold;
    text-align: center;
    text-shadow: #333 4px 4px 4px;
}

tr:nth-child(even) {
    background-color: #111;
}

.transcriptionTable:hover {
    background-color:#aaa;
    cursor: pointer;
    color: #111;
}

a, .nav-btn {
    text-decoration: none;
}

.nav-btn {
    margin-top: -5px;
    margin-bottom: 0;
    padding-top: 30px;
}
button, .btn, .delete-btn {
    background-color:darkblue;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: black 4px 4px 8px;
    /* min-width: 60px; */
    font-size:medium;
    border-radius: 8px;
}
.btn {
    border-radius: 8px;
}

button:hover, .btn:hover {
    background-color: blue;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 16px;
    padding: 20px;
}

/* Card Style */
.card {
    border-radius: 8px;
    padding: 16px;
    background-color: #ffbd00;
    box-shadow: black 4px 4px 8px;
    transition: transform 0.2s;
    text-align: center;
    display: flex;
    flex-flow: column;
    vertical-align: center;
    justify-content: center;
    /* align-items: center; */
    overflow: hidden;           /* Esconde o texto que ultrapassa o tamanho definido */
    text-overflow: ellipsis;    /* Adiciona "..." ao final do texto se ele for muito longo */
    max-width: 100%;   
}

.card h2 {
    margin: 0 0 10px;
    font-size: 18px;
}

.card p {
    margin: 0 0 15px;
}

.card_button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;

}

/* Class for Successful Transcription */
.transcribed {
    background-color: #666;
}

/* Class for In Progress */
.in-progress {
    border-color: #6c757d;
    color: lightgray;
    background-color: #333;
    cursor: not-allowed
}

/* Disabled Button Style */
.disabled {
    background-color: #6c757d;
    cursor: not-allowed;
    opacity: 0.65;
    cursor: not-allowed;
    flex-grow: 0;
    flex-shrink: 0;
}

button.disabled {
    background-color: #6c757d;
}

button.disabled:hover {
    background-color: darkgray;
    flex-grow: 0;
    flex-shrink: 0;
}

.disabled:hover {
    background-color: #6c757d;
    cursor: not-allowed;
    opacity: 0.65;
    cursor: not-allowed;
    flex-grow: 0;
    flex-shrink: 0;
}

/* Hover Effect */
.card:hover {
    transform: translateY(-5px);
    transition: all 0.5s ease-in-out;
}

.navbar-logo {
    max-height: 50px;
    width: auto;
    padding: 0;
    margin: 0;  
    margin-top: 10px;
}

.nav-table {border: 0px;}
.nav-logo-td {align-items: left; border: 0px;}
.nav-logo-btn{align-items: right; border: 0px; align-content: rigth; text-align: right;}


.delete-btn:hover{
    background-color: #c82333;
}

.flex-container.gallery-button-line button {
flex-grow:0;
flex-shrink: 3;
gap: 10px;
width: 45%;
text-align: center;
transition: all 0.5s ease-in-out;
}

.flex-container.gallery-button-line button:hover {
flex-grow:4;
}


/* Class for Conversion Error */
.transcript-error, .convert-error, .queue-error {
    border: darkred solid 2px;
    background-color: #333;
}

.model_info {
    font-size: small;
    text-align: center;
    margin-top: -15px;
    color:#aaa
}

.time-cell {
    text-align: center;;
}

.card-status {
    text-shadow: #111 2px 2px 2px;
}

.card-model {
    text-shadow: #111 2px 2px 2px;
    font-size: small;
    margin-top: 4px;
    margin-bottom: 4px;
}

.nav-div {
    min-width:140px
}

.popup-overlay {
    display: none; /* Escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background-color: #555; /* Cor de fundo do popup */
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    box-shadow: black 4px 4px 8px;  
}
.centered-pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #555; /* Cor de fundo do popup */
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: black 4px 4px 8px;  
}
.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* .flex-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.flex-button {
    margin-top: 20px;
}

/* Controle de probabilidade de acerto das palavras transcritas*/
.pron-60 { color: red}
.prob-70 { color: orangered; }         /* Para palavras com probabilidade < 50% */
.prob-80 { color: orange; }      /* Para palavras com probabilidade < 75% */
.prob-90 { color: yellow; }      /* Para palavras com probabilidade < 90% */

/* Elementos do upload */
.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-left-color: #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#question {
    /* width: 100%; */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: lightgray;
}

#question:focus {
    border-color: #007bff;
    outline: none;
    background-color: white;
}

.question-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre o label e o input */
}

.question-container label {
    flex-shrink: 0; /* Impede que o label encolha */
}

.question-container input {
    flex-grow: 1; /* Faz o input crescer para ocupar o espaço restante */
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.qaDiv {width: 100%;}