{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Transcrever{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <nav class="navbar">
        <table class="nav-table">
            <tr>
                <td class="nav-logo-td">
                    <img src="{% static 'media/logo-branco.png' %}" alt="Logo" class="navbar-logo">
                </td>
                <td class="nav-logo-btn">
                    <a href="{% url 'upload_video' %}" class="btn nav-btn">Upload de Vídeo</a>
                    <a href="{% url 'gallery' %}" class="btn nav-btn">Galeria de Transcrições</a>
                </td>
            </tr>
        </table>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
