{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Transcrever{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="flex-container">
            {% comment %} <div>
                <img src="{% static 'media/app_logo.png' %}" alt="Logo" class="navbar-logo">
            </div> {% endcomment %}
            <div class="nav-div">
                <h2>Transcritor</h2>
            </div>
            <div class="nav-div">
                <br>
                {% comment %} <a href="{% url 'upload_video' %}" class="btn nav-btn">Novo Vídeo</a> {% endcomment %}
                {% if request.resolver_match.url_name != 'gallery' %}
                    <a href="{% url 'gallery' %}" class="btn nav-btn">Galeria de Vídeos</a>
                {% endif %}
                <button id="uploadButton" class="btn nav-btn">Novo vídeo</button> <!-- Novo botão -->
            </div>
            <div class="nav-div">
                <img src="{% static 'media/logo-branco.png' %}" alt="Logo" class="navbar-logo">
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="uploadPopup" class="popup-overlay">
        <div class="popup-content">
            <span id="closePopup" class="close-btn">&times;</span>
            <h1>Novo vídeo</h1>
            <form id="popupUploadForm" method="post" enctype="multipart/form-data" action="{% url 'upload_video' %}">
                {% csrf_token %}
                <div class="flex-container">
                    <div>Escolher arquivo: <input type="file" name="file" required></div>
                    <div>Selecionar o modelo:
                        <select name="model" required>
                            <option value="large-v3">Grande aprimorado</option>
                            <option value="large">Grande</option>
                            <option value="medium">Médio</option>
                            <option value="base">Básico</option>
                        </select>
                    </div>
                    <div>
                        <p>{{ form.diarize.label_tag }} {{ form.diarize }}</p>
                    </div>
                    <button type="submit" class="btn flex-button">Transcrever</button>
                </div>
            </form>
            <hr>
            <h2> Lembre-se: </h2>
            Quanto maior a precisão, maior o tempo exigido para a transcrição. </br>
            <ul>
                <li> O modelo <strong>básico</strong> apresenta resultados limitados quando a qualidade do áudio não é ideal.</li></br>
                <li> O modelo <strong>médio</strong> apresenta resultados e tempo de resposta adequado a boa parte das situações mais comuns.</li></br>
                <li> O modelo <strong>grande</strong> tem maior qualidade, mas exige maior tempo de processamento.</li></br>
                <li> O modelo <strong>grande aprimorado</strong>, em geral, tem resultados bastante próximos ao do modelo grande, exigindo um tempo de processamento significativamente maior.</li></br>
            </ul>
            <div id="loadingIndicator" style="display:none;">
                <p>Carregando o vídeo para transcrição...</p>
                <p> Por favor, aguarde.</p>
                <div class="spinner"></div> <!-- Spinner de carregamento -->
            </div>
        </div>
    </div>
</body>
</html>
<script>
    document.getElementById("uploadButton").addEventListener("click", function() {
        document.getElementById("uploadPopup").style.display = "flex";
    });

    document.getElementById("closePopup").addEventListener("click", function() {
        document.getElementById("uploadPopup").style.display = "none";
    });

    // Fecha o popup se clicar fora dele
    window.addEventListener("click", function(event) {
        if (event.target == document.getElementById("uploadPopup")) {
            document.getElementById("uploadPopup").style.display = "none";
        }
    });

    document.getElementById("popupUploadForm").addEventListener("submit", function(event) {
        // Exibir o indicador de carregamento
        document.getElementById("loadingIndicator").style.display = "block";
        
        // Desabilitar o botão de submit para evitar múltiplos envios
        this.querySelector('button[type="submit"]').disabled = true;
    });

    document.getElementById("uploadButton").addEventListener("click", function() {
        document.getElementById("uploadPopup").style.display = "flex";
    });

    document.getElementById("closePopup").addEventListener("click", function() {
        document.getElementById("uploadPopup").style.display = "none";
    });

    // Fecha o popup se clicar fora dele
    window.addEventListener("click", function(event) {
        if (event.target == document.getElementById("uploadPopup")) {
            document.getElementById("uploadPopup").style.display = "none";
        }
    });

    
</script>