{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Transcrever{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="flex-container">
            {% comment %} <div>
                <img src="{% static 'media/app_logo.png' %}" alt="Logo" class="navbar-logo">
            </div> {% endcomment %}
            <div class="nav-div">
                <h2>Transcritor</h2>
            </div>
            <div class="nav-div">
                <br>
                <a href="{% url 'upload_video' %}" class="btn nav-btn">Novo Vídeo</a>
                <a href="{% url 'gallery' %}" class="btn nav-btn">Galeria de Vídeos</a>
            </div>
            <div class="nav-div">
                <img src="{% static 'media/logo-branco.png' %}" alt="Logo" class="navbar-logo">
            </div>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
