{% extends 'core/base.html' %}

{% block title %}Detalhes do Vídeo{% endblock %}

{% block content %}
<h1>{{ video.file.name }}</h1>
<div class="video_div">
    <video id="videoPlayer" controls muted height="300" source src="{{ video.file.url }}" type="video/mp4">
    </video>
</div>
<a href="{% url 'generate_docx' video.id %}" class="btn">Baixar Transcrição</a>
    <table id="transcriptionTable" class="transcript-table">
        <thead>
            <tr>
                <th>Tempo</th>
                <th>Conteúdo</th>
            </tr>
        </thead>
        <tbody>
            {% for phrase in video.transcription_phrases %}
            <tr data-start="{{ phrase.start }}" class="transcriptionTable">
                <td class="time-cell">{{ phrase.start }}</td>
                <td>{{ phrase.text }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}